@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&family=Rubik:wght@400;500;600;700&display=swap");

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

/* Variables */
$theme: #ad854d; // theme color
$theme-secondary: #000000; // Secondary theme color
$white: #FFFFFF; // White color
$dark: #212529; // Dark color

/* Body */
body {
    background-color: $dark;
    color: $white;
}

/* Background Colors */
.bg-theme {
    background: $theme;
}
.bg-secondary-theme {
    background: $theme-secondary;
}

/* Text Colors */
.text-theme {
    color: $theme;
}
.text-secondary-theme {
    color: $theme-secondary;
}

/* Text Alignment */
.text-justify {
    text-align: justify;
}
.text-last-left {
    text-align-last: left;
}
.text-last-center {
    text-align-last: center;
}
.text-last-right {
    text-align-last: right;
}

/* Letter-Spacing Utilities */
.ls-1 {
    letter-spacing: 0.1rem;
}

.ls-2 {
    letter-spacing: 0.2rem;
}

.ls-3 {
    letter-spacing: 0.3rem;
}

.ls-4 {
    letter-spacing: 0.4rem;
}

.ls-5 {
    letter-spacing: 0.5rem;
}

/* Links */
a {
    text-decoration: none;
}

/* Buttons */
.btn-theme {
    color: $white;
    background-color: $theme;
    border-color: $theme;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: color 0.6s ease-in-out, border-color 0.6s ease-in-out; /* Increased duration to 0.6s */

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $theme-secondary;
        z-index: -1;
        transition: transform 0.6s ease-in-out; /* Increased duration to 0.6s */
        transform: translateX(-100%);
    }

    &:hover:before {
        transform: translateX(0);
    }

    &:hover {
        color: $white;
        border-color: $theme;
    }
}

.btn-square, .btn-sm-square, .btn-lg-square {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.btn-square {
    width: 36px;
    height: 36px;
}

.btn-sm-square {
    width: 30px;
    height: 30px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}
.btn-transparent {
    background: transparent;
}

/* Back To Top Button 
.back-to-top {
    position: fixed;
    display: none;
    right: 28px;
    bottom: 20px;
    z-index: 99;
}
*/

/* Whatsapp Button */
.whatsapp-popup {
    position: fixed;
    right: 22px;
    bottom: 30px;
    background-color: #25d366;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    transition: 0.5s;

    a {
        font-size: 30px;
        line-height: 60px;
    }

    &:hover {
        background-color: #1ebe57;
    }
}

/* Spinner */
.spinner {
    width: 40px;
    height: 40px;
    background: $theme;
    margin: 100px auto;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

/* Keyframes */
@-webkit-keyframes sk-rotateplane {
    0% {
        transform: perspective(120px);
    }
    50% {
        transform: perspective(120px) rotateY(180deg);
    }
    100% {
        transform: perspective(120px) rotateY(180deg) rotateX(180deg);
    }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }
    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    }
    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

/* Spinner Visibility */
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
    z-index: 99999;

    &.show {
        transition: opacity 0.5s ease-out, visibility 0s linear 0s;
        visibility: visible;
        opacity: 1;
    }
}

/* Topbar */
.navbar-custom-class {
    height: 45px;
}

/* Section Title */
.section-title {
    position: relative;
    padding-bottom: 10px;

    &::before {
        content: "";
        position: absolute;
        width: 100px; /* Adjust Bottom line */
        height: 3px;
        bottom: 0;
        left: 0; /* Start from the left */
        background: $theme;
        border-radius: 2px;
    }

    &.text-center::before {
        left: 50%; /* Center it when the content is centered */
        transform: translateX(-50%);
    }
}

/* Hover Effect */
.hover-theme {
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: color 0.6s ease-in-out, border-color 0.6s ease-in-out;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $theme;
        z-index: -1;
        transition: transform 0.6s ease-in-out;
        transform: translateX(-100%);
    }

    &:hover:before {
        transform: translateX(0);
    }

    &:hover {
        color: $white !important;  /* Ensure the text color remains white on hover */
        border-color: $theme;
        .card-body {
            .card-title {
                color: $white!important;
            }
        }
    }
}

/* Zoom In Effect */
.hover-zoom {
    transition: 0.5s;
    &:hover {
        transform: scale(1.1);
    }
}

/* Navbar */
.navbar {
    background-color: rgba(0, 0, 0, 0.5);
    .navbar-brand img {
        width: 150px;
        height: auto;
        max-width: 100%;
        pointer-events: none; /* Prevents clicking to protect logo from being downloaded */
    }

    .navbar-nav {
        .nav-link {
            position: relative;
            margin-left: 25px;
            padding: 35px 0;
            color: $white;
            font-size: 18px;
            font-weight: 600;
            outline: none;
            transition: .5s;

            &:hover,
            &.active {
                color: $theme;
            }
        }
        .show > .nav-link {
            color: $theme;
        }
    }

    .navbar-toggler {
        color: $theme !important;
        border-color: $theme !important;
    }
    
    .dropdown-menu {
        padding: 0; // Setting padding to 0
        border-radius: 0;

        .dropdown-item {
            // Default styling for dropdown items
            transition: background-color 0.3s; // Smooth transition for background color
            border-bottom: 1px solid $theme; /* faint border bottom line */
            text-align: center;
            background-color: $theme-secondary;
            color: $white;
            padding: 10px;

            &:hover {
                background-color: $theme; // Set background color to theme color on hover
                color: $white; // Change text color for better readability on the background color
            }
        
            &.active, &:active {
                color: $white;
                background-color: $theme;
            }
        }
    }
}

/* Footer */
.footer {

    .footer-nav {
        padding: 0;
        margin: 0;
        list-style: none;

        .nav-link {
            position: relative;
            margin-left: 25px;
            padding: 35px 0;
            color: $white;
            font-size: 18px;
            font-weight: 600;
            outline: none;
            transition: .5s;

            &:hover,
            &.active {
                color: $theme;
            }
        }
    }

    .logo-footer {
        max-width: 300px; // Adjust size as needed
        height: auto;
    }

    ul {
        padding: 0;
        list-style: none;

        li {
            margin-bottom: 5px;
        }
    }

    h5 {
        font-weight: bold;
        margin-bottom: 15px;
    }

    p, ul {
        margin-bottom: 0;
    }
}

/* Landing Page Start */

/* Carousel */
.carousel-item {
    position: relative;
    min-height: 700px;
  
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    
    /* Carousel 
    .carousel-caption {
        position: absolute;
        bottom: 0; // Anchoring it at the bottom
        left: 50%; // Centering it horizontally
        transform: translateX(-50%); // Adjust horizontally to truly center
        width: 50%; // Ensure it spans the full width if neede
        z-index: 10;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 20px;
    
        h5 {
            font-size: 3.9rem;
        }
    
        p {
            font-size: 1rem;
        }
    }
    */
}
  
/* Hide Carousel Controls */
.carousel-control-prev, .carousel-control-next {
    display: block;
}

/* Banner */
.banner {
    background-size: cover;
    margin-bottom: 90px;
}

/* Service */
.menu {
    .nav-tabs .nav-link {
        background: transparent;
        color: $white;
        border: none;
        &:hover, &:focus {
            border: none;
            color: $white;
        }
        &.active {
            border-bottom: 3px solid $theme;
            color: $theme;
        }
    }
    .card {
        background-color: transparent;
        border: none;

        img {
            border-radius: 0.5rem; // Customizable to match your style
        }

        .card-title {
            color: $theme;
        }
    }
}

.parallax-section {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  
    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.5); // Dark overlay for better text visibility
    }
  
    .container {
      position: relative;
      z-index: 2; // Ensure text appears above the overlay
    }
  }
  

/* Gallery */
.gallery {
    .box {
        width: 350px;
        overflow: hidden;
    }
    .slide-img {
        width: 100%;
        height: 350px;
        object-fit: cover;
        box-sizing: border-box;
    }
}

/* Testimonial Carousel */
.testimonial-carousel {
    .owl-dots {
        margin-top: 30px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    .owl-dot {
        position: relative;
        display: inline-block;
        margin: 0 5px;
        width: 15px;
        height: 15px;
        background: $theme-secondary;
        border-radius: 2px;
        transition: .5s;
        &.active {
            width: 30px;
            background: $theme;
        }
    }
    .owl-item {
        background: #000; /* Set a default background color for all items */
        padding: 15px; /* Additional padding for better spacing */
        transition: .5s;
        color: #fff; /* Ensures text is readable on the dark background */
    }
    .owl-item.center {
        background: $theme !important; /* Highlight the active item with a distinct color */
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Optional: add a shadow for better emphasis */
    }
    .owl-item.center .testimonial-item {
        h4 {
            color: $white !important; /* Change text and stars color specifically for active item */
        }
        .fa-star {
            color: $dark !important; /* Change text and stars color specifically for active item */
        }
    }
}

/* Adjustments for star spacing */
.fa-star {
    margin-right: 4px; /* Adds spacing between the stars */
}

.features {
    /* Responsive Design */
    .card-title {
    font-size: 2rem;
    }
  
    /* Responsive Design */
    .card-title {
      font-size: 2rem;
    }
  
    .card-subtitle {
      font-size: 1.25rem;
    }
  
    .card-text {
      font-size: 1rem;
    }
  
    @media (max-width: 767.98px) {
      .card-title {
        font-size: 1.5rem;
      }
  
      .card-subtitle {
        font-size: 1rem;
      }
  
      .card-text {
        font-size: 0.875rem;
      }
    }
}

/* About Us Page */
.about-page-intro {
    .content {
        h2 {
            font-size: 2.5rem;
            font-weight: 700;
            margin-bottom: 1rem;
        }
        p {
            font-size: 1rem;
            margin-bottom: 1rem;
        }
    }
    
    .icon {
        width: 50px;
        height: 50px;
        .bi {
            font-size: 1.5rem;
        }
    }
}

.about-page-facts {
    .fact-card {
        background-color: $theme-secondary;
        color: $white;
        border-radius: 15px;
        transition: background-color 0.3s, color 0.3s;

        .icon {
            font-size: 3rem;
            color: $theme;
        }

        h2 {
            color: $theme; // Specific yellow color
            font-weight: bold;
        }

        &:hover {
            background-color: $theme;
            color: $dark;

            .icon {
                color: $white;
            }

            h2 {
                color: $white;
            }
            .text-muted {
                color: $white!important;
            }
        }
    }

    .text-muted {
        color: rgba(255, 255, 255, 0.75); // Adjusting the muted text color
        font-weight: bold;
    }
}

/* Book table */
.book-table {

    h2 {
        color: $white;
    }

    p {
        color: $white;
    }

    img {
        max-width: 100%;
        height: auto;
        object-fit: cover;
    }

    .row.g-3 {
        margin-top: 15px;
    }
}

/* Book table Page */

/* Reservation Section */
.form-section {

    h2 {
        font-size: 2.8rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }

    p {
        font-size: 1.1rem;
        margin-bottom: 2rem;
    }
}

.online-form {
    .form-control {
        background-color: $white;
        color: $dark;
        border: none;
        border-radius: 0;
        box-shadow: none;
        padding: 1rem;
        font-size: 1rem;
        
        &::placeholder {
            color: lighten($dark, 40%);
            font-size: 0.9rem;
        }
    }
}

/* Media Queries */

/* Smartphones Only */
@media (max-width: 640px) {
    /* Navbar */
    .navbar {
         /* Navbar Brand */
        .navbar-brand img {
            width: 130px;
            max-width: 100%;
            height: auto;
        }
    }

    .about-page-intro {
        .content h2 {
            font-size: 1.5rem;
        }
        .content p {
            font-size: 0.8rem;
        }
    }

    // Menu Tabs Responsive
    .nav-tabs {
        padding-bottom: 0.5rem; // Add some spacing at the bottom
        .nav-link {
            padding: 0.3rem 0.5rem; // Further reduce padding for very small screens
            font-size: 0.7rem; // Further reduce font size if necessary
        }
    }
}

/* Tablets/Ipads Only */
@media (min-width: 768px) {
    
}

@media (max-width: 767.98px) {
    /* Carousel */
    .carousel-item {
        min-height: 600px;
        
        /* Carousel 
        .carousel-caption {
            left: 50%; // Center horizontally
            bottom: 0%; // Position at the very bottom
            transform: translateX(-50%); // Shift it back to center it horizontally
            padding: 15px; // Consistent padding
            width: 100%; // Ensure it spans the full width if needed
    
          h5 {
            font-size: 2.3rem;
          }
    
          p {
            font-size: 1rem;
          }
        }
        */
    }
      
    /* Footer */
    .footer-nav {
        justify-content: center;
    }

    .social-icons {
        justify-content: center;
    }

    /* Whatsapp Button */
    .whatsapp-popup {
        width: 60px;
        height: 60px;

        a {
            font-size: 24px;
        }
    }

    .about-page-intro {
        .content h2 {
            font-size: 1.75rem;
        }
        .content p {
            font-size: 0.875rem;
        }
    }

    .book-table {
        .row.g-3 .col-6 {
            flex: 0 0 50%;
            max-width: 50%;
        }
        .row.g-3 .col-12 {
            margin-top: 15px;
        }
    }

    .form-section {
        padding: 2rem 1rem;
    }

    .online-form {
        .form-control, .btn {
            padding: 0.75rem 1rem;
            font-size: 0.9rem;
        }
    }
}

/* Desktop Only */
@media (max-width: 991.98px) {
    /* Navbar */
    .navbar {
        .navbar-nav {
            .nav-link {
                &,
                &.show {
                    padding: 10px 0;
                    color: $white;
                }
            }
        }
        .btn-transparent {
            background: $theme!important;
        }
    }

    .about-page-intro {
        .content h2 {
            font-size: 2rem;
        }
        .content p {
            font-size: 0.9rem;
        }
    }
}

@media (min-width: 992px) {
    /* Navbar */
    .navbar {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        border-bottom: 1px solid rgba(256, 256, 256, .1);
        z-index: 999;
    }

   /* Gallery */
    .gallery {
        .box {
            margin: -15px;
        }
    }
}

@media (min-width: 1200px) {
    /* Footer */
    .footer {
        padding: 30px 0;
    }
}
